/**************************************************************/
/******************    Custom Stylesheet    *******************/
/*******************   by Corey Sizemore   ********************/
/*******************     version 1.0       ********************/
/**************************************************************/

header.home_default_image {
	background: url('../img/home.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header.page_default_image {
	background: url('../img/page1.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

a#searchopen:link, a#searchopen:visited, a#mobileopen:link, a#mobileopen:visited {
	color: #d53832;
}

#home_logo {
	
	#logo_home {
		img {
			width: 450px;
		}
	}
	
	#home_page_nav {
		ul {
			li {
				a:link, a:visited {
					.icon {
						background: #d53832;
						color: #000000;
					}
				}
			}
		}
	}
}

.content {
	h1,
	h2.page_heading {
		color: #d53832;
	}
	
	hr.divider {
		background: #d53832;
	}
	
	a:link,a:visited {
		color: #d53832;
	}
	
	form {
		input[type="submit"] {
			background: #d53832;
		}
		
		input[type="text"] {
			border: 1px solid #d53832;
		}
		
		input:focus {
			border: 1px solid #d53832;
		}
	}
}

.sidebar {
	h3 {
		color: #d53832;
	}
	
	a:link,a:visited{
		color: #d53832;
	}
}

.edit_button {
	a:link,a:visited {
		background: #d53832;
	}
}

#gallery {
	.gallery_wrapper {
		position: relative;
		
		.gallery_title {
			bottom: 10px;
			color: #ffffff;
			font-weight: 500;
			left: 10px;
			position:absolute;
			text-shadow: 1px 1px 2px #000;
			z-index: 3;
		}
		
		a:link,a:visited {
			img {
				width: 130%;
			}
		}
	}
}

article.blog_preview {
	span.edit,
	span.author {
		a:link,a:visited {
			color: #d53832;
		}
	}
}


@media (min-width: 980px) and (max-width: 1220px) {
	
	#home_logo {
	
		#logo_home {
			img {
				width: 350px;
			}
		}
	}
	
}
	
@media (min-width: 768px) and (max-width: 979px) {
	
	#home_logo {
	
		#logo_home {
			img {
				width: 350px;
			}
		}
	}
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/page1_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
}
	
@media (min-width: 480px) and (max-width: 767px) {
	
	#home_logo {
	
		#logo_home {
			img {
				width: 250px;
			}
		}
	}
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/page1_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
}
	
@media (min-width: 0px) and (max-width: 479px) {
	
	header {
		height: 560px;
	}
	
	#home_logo {
	
		#logo_home {
			img {
				width: 250px;
			}
		}
	}
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 130%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/page1_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
}